<h2 mat-dialog-title>Class Description</h2>
<mat-dialog-content [formGroup]="form" class="divcenter">

  <mat-form-field >

    <input matInput placeholder="Class Name" formControlName="Name" required="true">
    <mat-error *ngIf="!form.controls['Name'].valid">Invalid Class Name</mat-error>
  </mat-form-field>

  <mat-form-field >

    <mat-select placeholder="Select Confidentiality Value" formControlName="Confidentiality" required="true"
      >

      <mat-option value=5>
        Very High
      </mat-option>
      <mat-option value=4>
        High
      </mat-option>
      <mat-option value=3>
        Medium
      </mat-option>
      <mat-option value=2>
        Low
      </mat-option>
      <mat-option value=1>
        Very Low
      </mat-option>

    </mat-select>
    <mat-error *ngIf="!form.controls['Confidentiality'].valid">Invalid Value for Confidentiality</mat-error>
  </mat-form-field><mat-form-field >
    <mat-select placeholder="Select Integrity Value" formControlName="Integrity" >

      <mat-option value=5>
        Very High
      </mat-option>
      <mat-option value=4>
        High
      </mat-option>
      <mat-option value=3>
        Medium
      </mat-option>
      <mat-option value=2>
        Low
      </mat-option>
      <mat-option value=1>
        Very Low
      </mat-option>

    </mat-select>
    <mat-error *ngIf="!form.controls['Integrity'].valid">Invalid Value for Integrity</mat-error>
  </mat-form-field>
  <mat-form-field >
    <mat-select placeholder="Select Availability Value" formControlName="Availability" #availselect required="true">
      
      <mat-option value=5>
        Very High
      </mat-option>
      <mat-option value=4>
        High
      </mat-option>
      <mat-option value=3>
        Medium
      </mat-option>
      <mat-option value=2>
        Low
      </mat-option>
      <mat-option value=1>
        Very Low
      </mat-option>

    </mat-select>
    <mat-error *ngIf="!form.controls['Availability'].valid">Invalid Value for Availability</mat-error>
  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions class="divcenter" style="justify-content: flex-end;">

  <button mat-raised-button (click)="close()">
    Close
  </button>

  <button mat-raised-button color="primary" #saveButton (click)="insertClass()" [disabled]="!form.valid">
    Save
  </button>

</mat-dialog-actions>