<div>
  <form [formGroup]="form">




    <mat-form-field appearance="fill" style="width:100%;">

      <mat-select placeholder="Select Asset Class for Risk Assessment" formControlName="Classe" #classSelector s>
        <mat-option>
          <div style="display: flex;flex-direction: row;align-items: center;color: green;">
            Add New Class
            <button mat-icon-button color="green" aria-label="Example icon button with a plus one icon"
              (click)="addClass()">
              <mat-icon>add</mat-icon>
            </button>
          </div>

        </mat-option>
        <ng-container *ngFor="let classe of Classes$ | async">
          <mat-option [value]="classe">
            {{classe.Name}}
          </mat-option>
        </ng-container>





      </mat-select>
    </mat-form-field>

    <mat-card *ngIf="!!classSelector.value" style="margin-bottom:20px">

      <mat-card-header>

        <mat-card-title>{{classSelector.value.Name}}</mat-card-title>

      </mat-card-header>

      <table mat-table [dataSource]="[{ Attribute: 'Confidentiality', Value: classSelector.value.Confidentiality},
        { Attribute: 'Integrity', Value: classSelector.value.Integrity},{ Attribute: 'Availability', Value: classSelector.value.Availability}
        ]">

        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="Attribute">
          <th mat-header-cell *matHeaderCellDef> Attribute </th>
          <td mat-cell *matCellDef="let element"> {{element.Attribute}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Value">
          <th mat-header-cell *matHeaderCellDef> Value</th>
          <td mat-cell *matCellDef="let element"> {{element.Value}} </td>
        </ng-container>




        <tr mat-row *matRowDef="let row; columns: ['Attribute','Value'];"></tr>
      </table>

      <mat-card-content>

      </mat-card-content>
    </mat-card>















    <table mat-table [dataSource]="datasource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->



      <ng-container matColumnDef="threat">
        <th mat-header-cell *matHeaderCellDef> Threat </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Select Threat" formControlName="Threat">
              <mat-option>
                <div style="display: flex;flex-direction: row;align-items: center;color: green;">
                  Add New Threat
                  <button mat-icon-button color="green" aria-label="Example icon button with a plus one icon"
                    (click)="addThreat()">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>

              </mat-option>
              <mat-option *ngFor="let threat of Threats$|async" [value]="threat">
                {{threat.statement}}
              </mat-option>



            </mat-select>
          </mat-form-field>

        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Impact">
        <th mat-header-cell *matHeaderCellDef> Impact </th>
        <td mat-cell *matCellDef="let element"> <mat-form-field appearance="outline"><mat-select
              placeholder="Select Impact" formControlName="Impact">
              <mat-option value="VH">
                Very High
              </mat-option>
              <mat-option value="H">
                High
              </mat-option>
              <mat-option value="M">
                Medium
              </mat-option>
              <mat-option value="L">
                Low
              </mat-option>
              <mat-option value="VL">
                Very Low
              </mat-option>


            </mat-select></mat-form-field> </td>
      </ng-container>


      <ng-container matColumnDef="Controls" >
        <th mat-header-cell *matHeaderCellDef> Controls </th>
        <td mat-cell *matCellDef="let element" >
          
          <!-- <mat-form-field> -->

          <mat-selection-list formControlName="Controls" >
            
            <mat-list-option *ngFor="let control of Controls$ | async">
              {{control.statement}}
            </mat-list-option>

          </mat-selection-list>

          <div style="display: flex;flex-direction: row;align-items: center;justify-content: center;color: green;">
            Add New Control
            <button mat-icon-button color="green" aria-label="Example icon button with a plus one icon"
              (click)="addControl()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <!-- </mat-form-field>     -->

        </td>
      </ng-container>

















      <!-- Weight Column -->
      <ng-container matColumnDef="Vulnerabilities">
        <th mat-header-cell *matHeaderCellDef> Vulnerabilities </th>
        <td mat-cell *matCellDef="let element">

          <!-- <mat-form-field> -->

          <mat-selection-list formControlName="Vulnerabilities">
            
            <mat-list-option *ngFor="let vulnerability of Vulnerabilities$ | async">
              {{vulnerability.statement}}
            </mat-list-option>

          </mat-selection-list>

          <div style="display: flex;flex-direction: row;align-items: center;justify-content: center;color: green;">
            Add New Vulnerability
            <button mat-icon-button color="green" aria-label="Example icon button with a plus one icon"
              (click)="addVulnerability()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <!-- </mat-form-field>     -->

        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Likelihood">
        <th mat-header-cell *matHeaderCellDef> Likelihood </th>
        <td mat-cell *matCellDef="let element"><mat-form-field appearance="outline" ><mat-select formControlName="Likelihood"
              placeholder="Select Likelihood">
              <mat-option value="VH">
                Very High
              </mat-option>
              <mat-option value="H">
                High
              </mat-option>
              <mat-option value="M">
                Medium
              </mat-option>
              <mat-option value="L">
                Low
              </mat-option>
              <mat-option value="VL">
                Very Low
              </mat-option>


            </mat-select></mat-form-field> </td>
      </ng-container>

      <ng-container matColumnDef="add">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> <button mat-icon-button (click)="addRiskRow()" [disabled]="!form.valid"
            color="primary"><mat-icon>add</mat-icon></button> </td>
      </ng-container>




      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </form>
</div>