<h2 mat-dialog-title>Class Description</h2>
<mat-dialog-content [formGroup]="form" class="divcenter">

  <mat-form-field >

    <input matInput placeholder="Class Name" formControlName="Name">

  </mat-form-field>

  <mat-form-field >

    <mat-select placeholder="Select Confidentiality Value" formControlName="Confidentiality">

      <mat-option value="VH">
        Very High
      </mat-option>
      <mat-option value="H">
        High
      </mat-option>
      <mat-option value="M">
        Medium
      </mat-option>
      <mat-option value="L">
        Low
      </mat-option>
      <mat-option value="VL">
        Very Low
      </mat-option>

    </mat-select>
  </mat-form-field><mat-form-field >
    <mat-select placeholder="Select Integrity Value" formControlName="Integrity" >

      <mat-option value="VH">
        Very High
      </mat-option>
      <mat-option value="H">
        High
      </mat-option>
      <mat-option value="M">
        Medium
      </mat-option>
      <mat-option value="L">
        Low
      </mat-option>
      <mat-option value="VL">
        Very Low
      </mat-option>

    </mat-select>
  </mat-form-field>
  <mat-form-field >
    <mat-select placeholder="Select Availability Value" formControlName="Availability" >

      <mat-option value="VH">
        Very High
      </mat-option>
      <mat-option value="H">
        High
      </mat-option>
      <mat-option value="M">
        Medium
      </mat-option>
      <mat-option value="L">
        Low
      </mat-option>
      <mat-option value="VL">
        Very Low
      </mat-option>

    </mat-select>

  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions style="display: flex;flex-direction: row;justify-content: end;">

  <button mat-raised-button (click)="close()">
    Close
  </button>

  <button mat-raised-button color="primary" #saveButton (click)="updateClass()" >
    Update
  </button>

</mat-dialog-actions>