<mat-sidenav-container fullScreen class="background"  >
  <mat-sidenav #mynav  >
    <mat-nav-list>
      <a href="" mat-list-item>
        <mat-icon>
          library_books
        </mat-icon>
       Classes
      </a>
      <a href="" mat-list-item>
        <mat-icon>
          question_answer
        </mat-icon>
        Risk Assessment
      </a>
      <a href="" mat-list-item>
        <mat-icon>
          login
        </mat-icon>
        Login
      </a>
      <a href="" mat-list-item>
        <mat-icon>
          person_add
        </mat-icon>
        Give Access

      </a>
    </mat-nav-list>
    
  </mat-sidenav>

  
  <mat-toolbar  color="primary" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="16px">
  <button mat-icon-button (click)="mynav.open()" >
    <mat-icon>list</mat-icon>
  </button>

  <button mat-button routerLink="/classes">
    <mat-icon>
      library_books
    </mat-icon>
    Classes
  </button>
  <button mat-button routerLink="/RiskAssessment">
    <mat-icon>
      question_answer
    </mat-icon>
    Risk Assessment
  </button>
  <button mat-button routerLink="/login">
    <mat-icon>
      login
    </mat-icon>
    Login
  </button>
  <button mat-button>
    <mat-icon>
      person_add
    </mat-icon>
    Give Access
  </button>


  <button mat-button [mat-menu-trigger-for]="mymenu">
    <mat-icon>
      person_add
    </mat-icon>
    More
  </button>
  
  <mat-menu #mymenu>  
    <button mat-menu-item>
      <mat-icon>
        library_books
      </mat-icon>
      Courses
    </button>
    <button mat-menu-item>
      <mat-icon>
        question_answer
      </mat-icon>
      About
    </button>
    <button mat-menu-item>
      <mat-icon>
        login
      </mat-icon>
      Login
    </button>
    <button mat-menu-item>
      <mat-icon>
        person_add
      </mat-icon>
      More
    </button>
  </mat-menu>
</mat-toolbar>

<div>
  <ng-container  *ngIf="loading"><app-loader></app-loader></ng-container>
  <router-outlet ></router-outlet>
</div>

</mat-sidenav-container>
