
@import "@angular/material/prebuilt-themes/indigo-pink.css";

.example-spacer {
    flex: 1 1 auto;
  }

  .divcenter{
    top:0;
    bottom:0;
    right:0;
    left:0;
    text-align: center;
    margin:auto;
    /*box-shadow: 0 0 14px gray;*/
    max-width: 500px;

  }

  .widthclass{
    width: 400px;margin:10px;
  }

  .containerdiv{
    top:0;
    right:0;
    bottom:0;
    left:0;

    margin:auto;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center
  }

  /* .containerdiv:hover{
    background-color: aqua;
  } */
  

  mat-card:hover{
    box-shadow: 0 0 15px gray;
  }

  .cardfooter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  .mat-card1 {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
    width:98%;
    margin:auto;
  }

  .fonth{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }