
@import "@angular/material/prebuilt-themes/indigo-pink.css";

.example-spacer {
    flex: 1 1 auto;
  }

  .divcenter{
    
    text-align: center;
    margin:auto;
    /*box-shadow: 0 0 14px gray;*/
    max-width: 500px;

  }

  .widthclass{
    width: 400px;min-width: 400px;margin: 10px;
  }

  .containerdiv{
   
    
    margin:auto;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    /* box-sizing: border-box; */
  }
  .outletmain{
    width: 100%;
    height: 100%;
  }


  mat-card:hover{
    box-shadow: 0 0 15px gray;
  }

  .cardfooter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
  }

  .mat-card1 {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
    width:98%;
    margin:auto;
  }

  .fonth{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .bottomdiv{
    width:100%;
    position: fixed;
    bottom: 30px;
    margin: auto;
    justify-content: center;
    text-align: center;

  }

  .centerdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    /* max-width: 500px; */
  }

  .background{
    background-image: url(./assets/images/19366.jpg);
    background-size: cover;
    
   
  }
  .mat-card2{
    height:260px;
    min-height:260px
  }

 